.navbar{
    display: flex;
    justify-content: center;
}

.container{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links{
    display: flex;
    align-items: center;
    gap: 20px;
}

ul{
    display: flex;
    gap: 40px;
    list-style: none;
    font-size: 1.025rem;
    line-height: 1.75rem;
    color: hsla(0,0%,100%,.5);
}
ul li{
    transition: 0.5s;
    cursor: pointer;
}

ul li:hover{
    color: #fff;
}

.icons{
    display: flex;
    align-items: center;
    gap: 20px;
}

.button{
    width: 100px;
    padding: 10px;
    background-color: var(--primary-text-color);
    color: #fff;
    border: none;
    font-size: 16px;
    border-radius:5px;
    cursor: pointer;
}

.btn__signup{
    background-color: var(--primary-text-shade);
    border: 1px solid var(--primary-text-color);
    transition: 0.5s;
}

.btn__signup:hover{
    background-color: var(--primary-text-color);
}

.btn__login{
    border: none;
    background-color: transparent;
    opacity: 0.6;
    transition: 0.5s;
}

.btn__login:hover{
    opacity: 1;
}
.mobile_nav{
    display: none;
}

.open{
  display: none;
  justify-content: center;
  align-items: center;
  border: none;
  background: transparent;
  font-size: 36px;
  color: #fff;
  cursor: pointer;
}

.close{
position: fixed;
  z-index: 999;
  top: 5;
  right: 0;
  width: 30px;
  margin-right: 20px;
  height: 30px;
  display: none;
  justify-content: center;
  align-items: center;
  border: none;
  background: transparent;
  font-size: 50px;
  color: #fff;
  cursor: pointer;
}

.mobile-menu {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:  linear-gradient(86deg, rgba(2,0,36,1) 26%, rgba(10,6,46,1) 55%, rgba(3,1,23,1) 84%, rgba(3,1,23,1) 100%);
    transition: 0.3s;
  }
  
  .mobile-menu a {
    padding: 10px 0px;
    color: rgba(255, 255, 255, 0.7);
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
  }

@media screen and (max-width: 992px) {   
    .topnav {
        justify-content: flex-start;
      }

      .open{
        display: block;
      }
    
      .close {
        display: block;
      }
    
      .menu {
        display: flex;
        align-items: center;
        transition: 0.5s;
      }
    nav ul li{
        margin-bottom: 30px;
        font-size: 1.3rem;
    }
    .links, .nav__btn__container{
        display: none;
    }
    
     button{
        display: block;
        margin-top: 20px;
        font-size: 1.2rem;
        width: 100px;
    }

    .btn__login{
        display: none;
    }
}