.navbar{
    display: flex;
    justify-content: center;
}

.container{
    width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.links{
    display: flex;
    align-items: center;
    gap: 20px;
}

ul{
    display: flex;
    gap: 40px;
    list-style: none;
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: hsla(0,0%,100%,.5);
}

.icons{
    display: flex;
    align-items: center;
    gap: 20px;
}

.button{
    width: 150px;
    padding: 10px;
    background-color: var(--primary-text-color);
    color: #fff;
    border: none;
    border-radius:5px;
    cursor: pointer;
}