.notify{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    width: 100%;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
}

.notify__container{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}
.notify_input_container{
    display: flex;
}

.notify_input_container input{
    padding: 0 10px;
    border-radius: 5px;
    border: none;
    width: 290px;
}
.notify_input_container input:focus{
    outline: none;
}

.notify_input_container button{
    width: 100px;
    padding: 10px;
    background-color: var(--primary-text-color);
    color: #fff;
    border: none;
    font-size: 16px;
    border-radius:5px;
    cursor: pointer;
    transition: 0.5s;
    margin-left: 10px;
}


.notify_input_container button:hover{
    background-color: var(--primary-text-shade);
}

.donation{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.donation p{
    margin-bottom: 20px;
}

.donation a{
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
}

@media screen and (max-width: 992px) {   
       .notify{
        height: 40vh;
        }
        .notify h1{
            text-align: center;
            margin-bottom: 15px;
        }
    .notify__container{
            display: block;    
        }
    .notify_input_container{
         display: block;
    }
    .notify_input_container input{
        height: 40px;
        font-size: 0.95rem;
    }
    .notify_input_container button{
        margin: auto;
        margin-top: 20px;
    }
}