.notify{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    width: 100%;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
}

.notify__container{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}
.notify_input_container{
    display: flex;

}