.showcase{
    width: 80%;
    margin: auto;
    height: 100vh;
    scroll-snap-align: center;
}

.showcase__main__container{
    display: flex;
    height: 85vh;
    align-items: center;
    justify-content: center;
}

.showcase__main__text h1{
    font-size: 2.5rem;
    font-weight: 800;
    letter-spacing: -.025em;
    color: rgb(255 255 255/1);
}

.showcase__main__text p{
    font-size: 1.085rem;
    line-height: 1.75rem;
    color: hsla(0,0%,100%,.5);
    margin-top: 10px;;
}
.highlighted{
    color: var(--primary-text-color) !important;
}
.showcase__main__btn{
    width: 150px;
    font-size: 17px;
    padding: 10px;
    background-color: var(--primary-text-color);
    color: #fff;
    border: none;
    border-radius:5px;
    cursor: pointer;
    margin-top: 40px;
}

.showcase__image img{
    height: 350px;
}
.showcase__main__btn{

}

@media screen and (max-width: 700px) {
    .showcase__image img{
        display: none;
    }
}