*{
  margin: 0;
  padding: 0;
}
.app{
  height: 100vh;
  background-color: rebeccapurple;
  scroll-snap-type:y mandatory;
  scroll-behavior: smooth;
  overflow-y: auto;
  color: #fff;
  scrollbar-width: none;
  &::-webkit-scrollbar{
    display: none;
  }
  background-image: url("../public/img/bg.jpeg");
  background-size: cover;
  background-position: center;
}