@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;500;700;800&display=swap');
*{
  margin: 0;
  padding: 0;
}


/* https://colors.artyclick.com/color-shades-finder */
:root{
  --primary-text-color: #FB2576;
  --primary-text-shade: #4B0B24;
  --primary-background-color: #030117;
}
.app{
  font-family: 'Inter', sans-serif;
  height: 100vh;
  /* background-color: var(--primary-background-color); */
  background: rgb(2,0,36);
  background: linear-gradient(86deg, rgba(2,0,36,1) 26%, rgba(10,6,46,1) 55%, rgba(3,1,23,1) 84%, rgba(3,1,23,1) 100%);
  scroll-snap-type:y mandatory;
  scroll-behavior: smooth;
  overflow-y: auto;
  color: #fff;
  scrollbar-width: none;
  &::-webkit-scrollbar{
    display: none;
  }
  /* background-image: url("../public/img/bg.jpeg"); */
  background-size: cover;
  background-position: center;
}